<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new video</title>
    <link rel="stylesheet" href="/basic.css">
    <link rel="stylesheet" href="/addVideo.css">
</head>

<body>
    <div class="main">
        <h1>Add New Video through the form</h1>
        <form action="/dedo" method="post">
            <input type="text" name="link" id="" placeholder="Just paste Your Embeded url only not full iframe" autofocus>
            <br><br>
            <button>Submit</button>
        </form>
    </div>
</body>

</html>